<h1>Yang's backend playground</h1>

<ul>
  <li>gain new knowledge</li>
  <li>review old knowledge</li>
  <li>evolve best practices</li>
</ul>

<p><a href="https://github.com/tech-gamers/ideas/issues">Issues</a></p>

<p>check out <a href="https://github.com/robturtle/backend">GitHub repo</a></p>
