<ol>
  <li>Start developing environment by running `docker-compose up --build`</li>
  <li>Use VS Code to open this project.</li>
  <li>Go to PagesController and set a breakpoint on the "def home" line.</li>
  <li>Start Debugging by pressing F5.</li>
  <li>Wait several seconds until you see "Listening on tcp://0.0.0.0:3000" from the docker-compose log</li>
  <li>Go to the browser and enter "localhost:3000"</li>
  <li>Your VS Code shall pause on the breakpoint now.</li>
</ol>
